<h2>Guest : List</h2>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Click here to add Guest List</th>
      <th>Use this Add-on</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{#link-to 'guest.new'}}Add a new Guest{{/link-to}}
      </td>
      <td>
        <a href="https://www.emberobserver.com/addons/ember-select-light">ember-select-light</a>
      </td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Nationality</th>
    </tr>
  </thead>
  <tbody>
  {{#each model as |guest|}}
    <tr>
      <th>{{guest.name}}</th>
      <td>{{guest.nationality}}</td>
    </tr>
  {{/each}}
  </tbody>
</table>
