<h2>Guest: Add New</h2>
<div class="well well-sm">
  Demonstration of 'ember-power-select'
</div>
{{guest-form-ember-power-select 
  item=model
  changeNationalityHandler="updateNationality"
  updateRecordHandler="updateRecord" 
  cancelHandler="cancelAndExit"
}}
{{outlet}}
